/* General Styles */

* {
  padding: 0;
  margin: 0;
}

/* Nav Bar Styles */

.NavList ul {
  list-style-type: none;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 50px;
  background-color: grey;
}

.ListItem {
  text-decoration: none;
  color: black;
}

@media screen and (min-width : 100px) and (max-width : 400px) {
  .NavList {
    width: 100%;
    gap: 10px;
  }

  .ListItem {
    font-size: 10px;
    justify-content: center;
  }
  
}

/* Footer */

.Footer {
  background-color: grey;
}

footer {
  display: flex;
  justify-content: center;
}